/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');   
          
/* common styles */
body{
                        font-family: 'Poppins', sans-serif;                                 
               
}

/* header top banner styles */


.top-banner{
             display: grid;
             grid-template-columns: repeat(2,1fr);   
             background:#2D25A0 ;      
           
    
         
}
.banner-title{
                margin-top: 0px;
                margin-bottom: 0px;
                margin-left: 156px;
                margin-right: 156px;  
                padding-bottom: 86px; 
                
}
.banner-title h1{
                        font-size: 64px;
                        line-height: 80px;
                        color: #FFFFFF;   
                        font-weight: 700;  
}
  .top-banner a, .highlights-details a{ 
                 text-decoration: none;      
                 color:white ;
                 font-size: 16px;
                 font-weight: 500; 
                 background:#E02C6D;
                 padding: 10px 24px;
} 




.top-banner img{
      
                        width: 70%;         
}
.top-banner img:hover{
                        transform: scale(1.2);
                        transition: transform 3s ease-in-out; 
}


/* main */

/* players style */
 main{ 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 

} 

.players{
             display: grid;
             grid-template-columns: repeat(3, 1fr);
             grid-row-gap: 27px;
             grid-column-gap: 30px;
             margin-top: 70px;        
                      
}
 .player{
           width: 330px;
           height: 474px;
           background: white;
           box-shadow: 0px 0px 40px rgb(0 0 0 / 15%); 
           padding: 15px; 
}
.player-image{
     overflow: hidden;
     height: 256px;
     
}
.player-image img {
                     width: 100%;   
}
.player-image :hover{
                        transform: scale(1.5);
                        transition: transform 2s ease-in-out;
}



/* highlights style */

.highlights{
          display: grid;      
          grid-template-columns: repeat(2,1fr); 
          align-items: center;  
          margin-top: 165px;  
          width: 1140px;
          padding-bottom: 60px;
}
.highlights-details{
                    margin-left: 180px;   
                    
}
.highlights-banner img{
                        width: 100%;
                        

}



/* footer styles */

footer{
         width: 1140px;
         margin: 0px;
         text-align: center;
         margin-top: 150 px;               
}
.logo img{ 
          width: 483.87px;
           height: 110px;      
}


  /* media queris */

   
@media only screen and (max-width:688px) {
           .top-banner{
                grid-template-columns: repeat(1,1fr);                   
           }   
           .banner-title{
                        width: 100%;

           }   
           .banner-title  h1{
                font-size: 2.5rem;
           } 
            .players{         
                     grid-template-columns: repeat(1,1fr);              

           } 
           .highlights{
                        grid-template-columns:repeat(1,1fr); 
                        width:100%;
                                               
           }
           .highlights-details{
                               margin-left: 120px;    
           }
           .highlights-banner{
                            margin-top: 50px;       

           }
           .highlights-banner img{
                width: 100%;
           }
           footer{
                         
                    width: 100%
           }
           .logo img{
                width:100%;
                height: 100%;
           }
           
}
  
   
                        


                        




